div{
    color: white;
}

.userActivitiesRecordedDivContainerMovieCardShow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* background-color: aqua; */
    max-width: 100%;
}