.profile-user-banner{
    height: 40vh;
    margin-top: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-user-under-banner-section-container{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    gap: 5vw;
}

.profile-user-picture-image{
    border-radius: 100%;
    width:210px;
    margin-bottom: 30px;
}

.profile-user-personal-details-container{
    background-color: #0d0c0f;
    border: 2px solid gray;
    border-bottom: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 60px;
    border-radius: 1000px 1000px 0px 0px;
    margin-top: -20vh;
    margin-left: 5vw;
    overflow: hidden;
}

.profile-user-personal-details-location{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-user-personal-details-container-all-data{
    word-wrap: normal;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-user-personal-details-container-all-data label{
    word-wrap:break-word;
    width: 300px;
    overflow: hidden;
    text-align: center;
}

.fixing-------label-profile-user-personal-details-location{
    text-align: start;
}

.profile-user-personal-details-container-analytics{
    /* background-color: aquamarine; */
    margin-top: 20px;
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.profile-user-personal-details-container-analytics div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-user-personal-details-container-btns{
    display: flex;
    margin-top: 50px;
    width: 300px;
    justify-content: space-around;
}

.profile-user-personal-details-container-btns label{
    margin: 0;
    padding: 10px 20px;
    border-radius: 99px;
    cursor: pointer;
}


.profile-user-personal-details-container-1st-btn{
    background-color: gray;
    transition: 0.3s ease-in-out;
}

.profile-user-personal-details-container-2nd-btn{
    background-color: red;
    transition: 0.3s ease-in-out;
}

.profile-user-slider-minus-200px-width{
    width: calc(100vw - 5vw - 5vw - 200px - 400px);
}

.profile-user-slider-minus-50px-width{
    width: calc(100vw - 5vw - 5vw - 200px - 200px);
}


@media screen and (max-width: 900px) {
    .profile-user-under-banner-section-container{
        flex-direction: column;
    }

    .profile-user-personal-details-container{
        margin: -70px auto 0 auto;
    }
    .profile-user-slider-minus-200px-width{
        width: calc(100vw - 200px);
    }
    .profile-user-slider-minus-50px-width{
        width: calc(100vw - 50px);
    }
  }

  @media screen and (max-width: 480px) {
    .profile-user-slider-minus-200px-width{
        width: calc(100vw);
    }
    .profile-user-slider-minus-50px-width{
        width: calc(100vw);
    }
  }



  .modal {
    font-size: 12px;
    background: black;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  @keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }
  .popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }